.table-container {
  @apply flex-grow overflow-auto border-4 border-gray-600 rounded-lg;
}

.table {
  @apply relative w-full text-gray-400 text-base text-left;
}

.animate-fade-in {
  animation: fadeIn 1s;
}

.animate-fade-out {
  animation: fadeOut 1s;
}

.table-body {
  @apply divide-y;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
