.mobile-info-container {
  @apply flex flex-col text-gray-300 justify-between px-6 py-4 border-4 border-gray-600 rounded-lg max-h-60 w-full odd:bg-gray-800 even:bg-gray-700 hover:bg-gray-600 font-medium mb-4 flex-wrap;
}

.info-label {
  @apply font-bold mr-2;
}

.info-data {
  @apply flex items-baseline;
}

.animate-fade-in {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
