.mobile-notification {
  @apply absolute max-h-40 w-5/6 p-4 flex justify-start self-center flex-row bottom-5 rounded-lg;
  -webkit-animation: slideIn 1s forwards;
  -moz-animation: slideIn 1s forwards;
  animation: slideIn 1s forwards;
}

.fade-out {
  animation: slideOut 0.5s ease-out forwards;
}

.mobile-incident-icon {
  @apply mr-2 h-20 w-20 text-white font-bold;
}

@-webkit-keyframes slideIn {
  0% {
    transform: translateX(900px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideIn {
  0% {
    transform: translateX(900px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(900px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideOut {
  100% {
    transform: translateY(110%);
  }
}
